// .app-wrapper{
//   height: 100%;
//   display: block;
// }

.app{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  gap: 20px;
  width: 60%;
}

.wut{
  height: 100%;
}

@media (max-width: 720px){
  *{
    font-size: 12px;
  }
  .app{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 40%;
  }
}


@media (max-width: 400px){
  .app{
    margin-top: 20px;
  }
}